@import url('https://fonts.googleapis.com/css2?family=New+Rocker&family=Space+Grotesk:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

body {
    overflow-x: hidden;
    background: black;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 23%;
    padding: 20px;
    background: #437690;
    color: #FAFAFAFA;
    width: 100%;
}

header p {
    font-family: 'new rocker';
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0px;
    text-align: left;

}

nav {
    display: flex;
    gap: 40px;
    font-family: Space Grotesk;
    font-size: 20px;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: left;
}

a {
    text-decoration: none;
    color: #FAFAFAFA;
}

nav div {
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 600;

}

nav div hr {
    width: 86px;
    border: 1px solid white;
}

header button {
    width: 170px;
    padding: 12px 24px;
    border-radius: 24px;
    border: 1px solid black;
    gap: 10px;
    background: white;
    font-family: Space Grotesk;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;

}



/* MAIN */
main {
    padding: 90px 50px;
    color: #FAFAFA;

    font-family: Space Grotesk;
}

.div1 {
    display: flex;
    align-items: center;
    gap: 10%;
}

.div1 .john {
    display: flex;
    flex-direction: column;

    /* width: 740px; */
    gap: 16px;

}


.building {
    display: flex;
    flex-direction: column;
    gap: 32px
}

.john h3 {
    color: #3EB489;
    font-family: Space Grotesk;
    font-size: 24px;
    font-weight: 500;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: left;

}

.john p {
    font-family: Space Grotesk;
    /* font-size: 30px; */
    font-size: 48px;
    font-weight: 700;
    line-height: 61px;
    letter-spacing: 0em;
    text-align: left;
    color: #FAFAFA;
}

.john .linkedin a {
    padding: 12px 24px;
    border-radius: 24px;
    border: 1px solid black;
    gap: 10px;
    background: white;
    font-family: Space Grotesk;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
    color: #0F0F0F;
}

.linkedin {
    display: flex;
    gap: 24px;
    align-items: flex-start;
}


/* div2 */
.div2 img {
    width: 470px;
    height: 496px;
    object-fit: contain;

}


/* selected_works */
.selected_works {
    padding-top: 80px;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 48px;
    color: white;
}

.selected_works h3 {
    color: #FAFAFA;
    font-family: Space Grotesk;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

/* works */
.works {
    display: flex;
    align-items: flex-start;
    gap: 68px;
}

.work1 {
    display: flex;
    width: 260px;
    padding-top: 10px;

    flex-direction: column;
    gap: 20px;
    height: 50vh;
    text-align: center;
    border-radius: 12px;
    border-top: 2px solid #1572E0;
    border-right: 4px solid #1572E0;
    border-bottom: 4px solid #1572E0;
    border-left: 2px solid #1572E0;
}

.work1 h2 {
    color: #098DD3;
    font-family: Segoe Print;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}


.work1 p {
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-bottom: 10px;
}

.work1 .first {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#church {
    height: 50vh;
    padding-top: 50px;
    gap: 70px;
    border-top: 2px solid #3EB489;
    border-right: 4px solid #3EB489;
    border-bottom: 4px solid #3EB489;
    border-left: 2px solid #3EB489;
}

#church h2 {
    font-family: New Rocker;
    color: #FAFAFA;
    text-align: center;
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 400;

}


#library {
    width: 260px;
    flex-direction: column;
    gap: 70px;
}

#library h2 {
    padding-top: 80px;
    color: #0A7CED;
    font-family: New Rocker;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

#vedTv {
    height: 50vh;
    gap: 95px;
    padding-top: 100px;
    border-top: 2px solid #3EB489;
    border-right: 4px solid #3EB489;
    border-bottom: 4px solid #3EB489;
    border-left: 2px solid #3EB489;
}

#vedTv h2 {
    color: #B7410E;
    font-family: New Rocker;
    font-size: 50.778px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}








/* FOOTER */
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 52%;
    padding: 61px 0px;
    background: #437690;
    color: #FAFAFAFA;
    width: 100%;
    /* height: 355px; */
}

footer button {
    width: 300px;
    padding: 12px 24px;
    border-radius: 24px;
    border: 1px solid black;
    gap: 10px;
    background: white;
    font-family: Space Grotesk;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;

}

footer h1 {
    color: #FAFAFA;
    font-family: Space Grotesk;
    /* font-size: 48px; */
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}


.footerDiv1 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 29px;
}

.contact {
    display: flex;
    align-items: center;
    gap: 32px;
}

.contact .x {
    border-radius: 50px;
    background: #3D3D3D80;
    border: 1px solid gray;
    padding: 12px 13px 10px 13px;
}

#x img {

    width: 22px;
    height: 22px;
    object-fit: contain;
}

#x {
    padding: 12px 13px 10px 13px;
}

footer p {
    font-family: 'new rocker';
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0px;
    text-align: left;
    /* float: right; */

}