@import url('https://fonts.googleapis.com/css2?family=New+Rocker&family=Space+Grotesk:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

body {
    overflow-x: hidden;
    background: black;
}

header {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    gap: 23%;
    padding: 20px 20px 20px 60px;
    background: #437690;
    color: #FAFAFAFA;
    width: 100%;
    overflow-x: hidden;
}

header p {
    font-family: 'new rocker';
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0px;
    text-align: left;

}

nav {
    display: flex;
    gap: 60px;
    align-items: center;
    font-family: Space Grotesk;
    font-size: 20px;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: left;
}

.nav {
    gap: 38%;
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
    color: #FAFAFAFA;
}

nav div {
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
    padding-top: 10px;
}

nav div hr {
    width: 86px;
    border: 1px solid white;
}

header button {
    width: 170px;
    padding: 12px 24px;
    border-radius: 24px;
    border: 1px solid black;
    gap: 10px;
    background: white;
    font-family: Space Grotesk;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;

}

header button:hover {

    transition-duration: 1s;
    color: white;
    background: gray;
    border: none;
    box-shadow: 1px 2px 2px 2px #098DD3;


}


/* MAIN */
main {
    padding: 90px 50px;
    color: #FAFAFA;
    overflow-x: hidden;
    font-family: Space Grotesk;
}

.div1 {
    display: flex;
    align-items: center;
    gap: 10%;
}

.div1 .john {
    display: flex;
    flex-direction: column;

    /* width: 740px; */
    gap: 16px;

}


.building {
    display: flex;
    flex-direction: column;
    gap: 32px
}

.john h3 {
    color: #3EB489;
    font-family: Space Grotesk;
    font-size: 24px;
    font-weight: 500;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: left;

}

.john p {
    font-family: Space Grotesk;
    /* font-size: 30px; */
    font-size: 48px;
    font-weight: 700;
    line-height: 61px;
    letter-spacing: 0em;
    text-align: left;
    color: #FAFAFA;
}

.john .linkedin a {
    padding: 12px 24px;
    border-radius: 24px;
    border: 1px solid black;
    gap: 10px;
    background: white;
    font-family: Space Grotesk;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
    color: #0F0F0F;
}

.linkedin {
    display: flex;
    gap: 24px;
    align-items: flex-start;
}

.wrap {
    display: none;
}

/* div2 */
.div2 img {
    width: 470px;
    height: 496px;
    object-fit: contain;

}


/* selected_works */
.selected_works {
    padding-top: 80px;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 48px;
    color: white;
}

.selected_works h3 {
    color: #FAFAFA;
    font-family: Space Grotesk;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

/* works */
.works {
    display: flex;
    align-items: flex-start;
    gap: 60px;
}

.flexWork {
    display: flex;
    align-items: center;
    gap: 60px;
}

.work1 {
    display: flex;
    width: 260px;
    padding-top: 10px;
    flex-direction: column;
    gap: 20px;
    height: 50vh;
    text-align: center;
    border-radius: 12px;
    border-top: 2px solid #1572E0;
    border-right: 4px solid #1572E0;
    border-bottom: 4px solid #1572E0;
    border-left: 2px solid #1572E0;
}


.work1 h2 {
    color: #098DD3;
    font-family: Segoe Print;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}


.work1 p {
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-bottom: 10px;
}

.work1 .first {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#church {
    height: 50vh;
    padding-top: 50px;
    gap: 70px;
    border-top: 2px solid #3EB489;
    border-right: 4px solid #3EB489;
    border-bottom: 4px solid #3EB489;
    border-left: 2px solid #3EB489;
}

#church h2 {
    font-family: New Rocker;
    color: #FAFAFA;
    text-align: center;
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 400;

}


#library {
    width: 260px;
    flex-direction: column;
    gap: 70px;
}

#library h2 {
    padding-top: 80px;
    color: #0A7CED;
    font-family: New Rocker;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

#vedTv {
    height: 50vh;
    gap: 95px;
    padding-top: 100px;
    border-top: 2px solid #3EB489;
    border-right: 4px solid #3EB489;
    border-bottom: 4px solid #3EB489;
    border-left: 2px solid #3EB489;
}

#vedTv h2 {
    color: #B7410E;
    font-family: New Rocker;
    font-size: 50.778px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}








/* FOOTER */
footer {
    display: flex;
    align-items: center;

    gap: 52%;
    padding: 61px 55px;
    background: #437690;
    color: #FAFAFAFA;
    width: 100%;
    overflow-x: hidden;
    /* height: 355px; */
}

.me {
    display: none;
}

footer button {
    width: 300px;
    padding: 12px 24px;
    border-radius: 24px;
    border: 1px solid black;
    gap: 10px;
    background: white;
    font-family: Space Grotesk;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;

}

footer button:hover {
    transition-duration: 1s;
    color: white;
    background: gray;
    border: none;
    box-shadow: 1px 2px 2px 2px #098DD3;
}

footer h1 {
    color: #FAFAFA;
    font-family: Space Grotesk;
    /* font-size: 48px; */
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}


.footerDiv1 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 29px;
}

.contact {
    display: flex;
    align-items: center;
    gap: 32px;
}

.contact .x {
    border-radius: 50px;
    background: #3D3D3D80;
    border: 1px solid gray;
    padding: 12px 13px 10px 13px;
}

#x img {

    width: 22px;
    height: 22px;
    object-fit: contain;
}

#x {
    padding: 12px 13px 10px 13px;
}

footer p {
    font-family: 'new rocker';
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0px;
    text-align: left;
    /* float: right; */

}





/* Media Query */
@media screen and (max-width:1322px) {

    .work1,
    #church,
    #vedTv,
    #library {
        height: 60vh;

    }
}

/* screen 1073 */
@media screen and (max-width:1073px) {

    header {
        gap: 15%;
        padding-left: 5%;
    }

    nav {
        gap: 40px;
    }

    .nav {
        gap: 25%;
    }


    .div1 {
        gap: 8%;
    }

    .john p {
        font-size: 35px;
        line-height: 40px;
    }

    .john h3 {
        font-size: 20px;


    }

    .linkedin {
        flex-direction: column;
        /* flex-wrap: wrap; */
    }

    .recruiter {
        display: none;
    }

    .wrap {
        display: block;
        display: flex;
        align-items: center;
        gap: 30px;
    }

    .flexWork {
        flex-direction: column;
        align-items: center;
        gap: 90px;
    }

    .works {
        gap: 20%;

    }

    .selected_works {
        padding-right: 20px;
    }

    .work1,
    #church,
    #vedTv,
    #library {
        width: 400px;

    }


    footer {
        gap: 40%;
        padding: 61px 55px;
    }
}



/* screen 1045 */
@media screen and (max-width:1045px) {


    .works {
        gap: 15%;

    }
}

/* screen 1009 */
@media screen and (max-width:1009px) {


    .works {
        gap: 12%;

    }
}




/* screen 985 */
@media screen and (max-width:985px) {


    nav {
        gap: 35px;
    }

    .nav {
        gap: 20%;
    }



    .works {
        gap: 10%;

    }

    .div2 img {
        width: 450px;

    }

    .div1 {
        gap: 5%;
    }

    footer {
        gap: 35%;

    }

}





/* screen 973 */
@media screen and (max-width:973px) {


    .works {
        gap: 20%;

    }

    .work1,
    #church,
    #vedTv,
    #library {
        width: 350px;

    }

    .flexWork {
        flex-direction: column;
        align-items: center;
        gap: 60px;
    }
}



/* screen 933 */
@media screen and (max-width:933px) {



    
    .works {
        gap: 15%;

    }


    .flexWork {
        flex-direction: column;
        align-items: center;
        gap: 60px;
    }

    .contact {
        /* flex-direction: column; */
        align-items: center;
        flex-wrap: wrap;
    }

    .you {
        display: none;

    }

    .me {
        display: block;
    }
}