@import url('https://fonts.googleapis.com/css2?family=New+Rocker&family=Space+Grotesk:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

body {
    overflow-x: hidden;
    background: black;
}

header {
    display: flex;
    align-items: center;
    gap: 23%;
    padding: 20px 20px 20px 60px;
    background: #437690;
    color: #FAFAFAFA;
    width: 100%;
    overflow-x: hidden;
}

header p {
    font-family: 'new rocker';
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0px;
    text-align: left;

}

.icon {
    display: none;
    color: white;
    font-size: 30px;
}


nav {
    display: flex;
    gap: 60px;
    align-items: center;
    font-family: Space Grotesk;
    font-size: 20px;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: left;
}

.nav {
    gap: 38%;
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
    color: #FAFAFAFA;
}

nav div {
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
    padding-top: 10px;
}

nav div hr {
    width: 86px;
    border: 1px solid white;
}

header button {
    width: 170px;
    padding: 12px 24px;
    border-radius: 24px;
    border: 1px solid black;
    gap: 10px;
    background: white;
    font-family: Space Grotesk;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;

}

header button:hover {

    transition-duration: 1s;
    color: white;
    background: gray;
    border: none;
    box-shadow: 1px 2px 2px 2px #098DD3;


}

.off-screen-menu {
    display: none;
}

/* MAIN */
main {
    padding: 90px 50px;
    color: #FAFAFA;
    overflow-x: hidden;
    font-family: Space Grotesk;
}

.div1 {
    display: flex;
    align-items: center;
    gap: 10%;

}

.div1 .john {
    display: flex;
    flex-direction: column;
    gap: 16px;

}


.building {
    display: flex;
    flex-direction: column;
    gap: 32px
}

.john h3 {
    color: #3EB489;
    font-family: Space Grotesk;
    font-size: 24px;
    font-weight: 500;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: left;

}

.john p {
    font-family: Space Grotesk;
    font-size: 48px;
    font-weight: 700;
    line-height: 61px;
    letter-spacing: 0em;
    text-align: left;
    color: #FAFAFA;
}

.john .linkedin a {
    padding: 12px 24px;
    border-radius: 24px;
    border: 1px solid black;
    gap: 10px;
    background: white;
    font-family: Space Grotesk;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
    color: #0F0F0F;
}

.linkedin {
    display: flex;
    gap: 24px;
    align-items: flex-start;
}

.wrap {
    display: none;
}

/* div2 */
.div2 img {
    width: 470px;
    height: 496px;
    object-fit: contain;

}


/* selected_works */
.selected_works {
    padding-top: 80px;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 48px;
    color: white;
    width: 100%;
}

.selected_works h3 {
    color: #FAFAFA;
    font-family: Space Grotesk;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

/* works */
.works {
    display: flex;
    align-items: flex-start;
    gap: 60px;
    width: 100%;
}

.flexWork {
    display: flex;
    align-items: center;
    gap: 60px;
}

.work1 {
    display: flex;
    width: 260px;
    padding-top: 10px;
    flex-direction: column;
    gap: 20px;
    height: 50vh;
    text-align: center;
    border-radius: 12px;
    border-top: 2px solid #1572E0;
    border-right: 4px solid #1572E0;
    border-bottom: 4px solid #1572E0;
    border-left: 2px solid #1572E0;
}


.work1 h2 {
    color: #098DD3;
    font-family: Segoe Print;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}


.work1 img {
    width: 145px;
    object-fit: contain;
}

.work1 p {
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-bottom: 10px;
}

.work1 .first {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#church {
    height: 50vh;
    padding-top: 50px;
    gap: 70px;
    border-top: 2px solid #3EB489;
    border-right: 4px solid #3EB489;
    border-bottom: 4px solid #3EB489;
    border-left: 2px solid #3EB489;
}

#church h2 {
    font-family: New Rocker;
    color: #FAFAFA;
    text-align: center;
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 400;

}


#library {
    width: 260px;
    flex-direction: column;
    gap: 70px;
}

#library h2 {
    padding-top: 80px;
    color: #0A7CED;
    font-family: New Rocker;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

#vedTv {
    height: 50vh;
    gap: 95px;
    padding-top: 100px;
    border-top: 2px solid #3EB489;
    border-right: 4px solid #3EB489;
    border-bottom: 4px solid #3EB489;
    border-left: 2px solid #3EB489;
}

#vedTv h2 {
    color: #B7410E;
    font-family: New Rocker;
    font-size: 50.778px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}








/* FOOTER */
footer {
    display: flex;
    align-items: center;
    gap: 52%;
    padding: 61px 55px;
    background: #437690;
    color: #FAFAFAFA;
    width: 100%;
    overflow-x: hidden;

}

.me {
    display: none;
}

footer button {
    width: 300px;
    padding: 12px 24px;
    border-radius: 24px;
    border: 1px solid black;
    gap: 10px;
    background: white;
    font-family: Space Grotesk;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;

}

footer button:hover {
    transition-duration: 1s;
    color: white;
    background: gray;
    border: none;
    box-shadow: 1px 2px 2px 2px #098DD3;
}

footer h1 {
    color: #FAFAFA;
    font-family: Space Grotesk;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}


.footerDiv1 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 29px;
}

.contact {
    display: flex;
    align-items: center;
    gap: 32px;
}

.contact .x {
    border-radius: 50px;
    background: #3D3D3D80;
    border: 1px solid gray;
    padding: 12px 13px 10px 13px;
}

#x img {

    width: 22px;
    height: 22px;
    object-fit: contain;
}

#x {
    padding: 12px 13px 10px 13px;
}

.twitter {
    display: flex;
    align-items: center;
    gap: 32px;
}

footer p {
    font-family: 'new rocker';
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0px;
    text-align: left;

}





/* Media Query */
@media screen and (max-width:1322px) {

    .work1,
    #church,
    #vedTv,
    #library {
        height: 60vh;

    }
}

/* screen 1073 */
@media screen and (max-width:1073px) {

    header {
        gap: 15%;
        padding-left: 5%;
    }

    nav {
        gap: 40px;
    }

    .nav {
        gap: 25%;
    }


    .div1 {
        gap: 8%;
    }

    .john p {
        font-size: 35px;
        line-height: 40px;
    }

    .john h3 {
        font-size: 20px;


    }

    .linkedin {
        flex-direction: column;
    }

    .recruiter {
        display: none;
    }

    .wrap {
        display: block;
        display: flex;
        align-items: center;
        gap: 30px;
    }

    .flexWork {
        flex-direction: column;
        align-items: center;
        gap: 90px;
    }

    .works {
        gap: 20%;

    }

    .selected_works {
        padding-right: 20px;
    }

    .work1,
    #church,
    #vedTv,
    #library {
        width: 400px;

    }


    footer {
        gap: 40%;
        padding: 61px 55px;
    }
}



/* screen 1045 */
@media screen and (max-width:1045px) {


    .works {
        gap: 15%;

    }
}

/* screen 1009 */
@media screen and (max-width:1009px) {


    .works {
        gap: 12%;

    }
}




/* screen 985 */
@media screen and (max-width:985px) {


    nav {
        gap: 35px;
    }

    .nav {
        gap: 20%;
    }



    .works {
        gap: 10%;

    }

    .div2 img {
        width: 450px;

    }

    .div1 {
        gap: 5%;
    }

    footer {
        gap: 35%;

    }

}





/* screen 973 */
@media screen and (max-width:973px) {


    .works {
        gap: 20%;

    }

    .work1,
    #church,
    #vedTv,
    #library {
        width: 350px;

    }

    .flexWork {
        flex-direction: column;
        align-items: center;
        gap: 60px;
    }
}



/* screen 933 */
@media screen and (max-width:933px) {

    header {
        gap: 42%;
    }

    .nav {
        flex-direction: column;
        align-items: flex-end;
        gap: 10px;
    }


    .works {
        gap: 15%;

    }


    .flexWork {
        flex-direction: column;
        align-items: center;
        gap: 60px;
    }

    .contact {
        flex-direction: column;
        align-items: flex-start;
    }

    .you {
        display: none;

    }

    .me {
        display: block;
    }



    footer {
        gap: 0%;
    }

    footer p {
        margin-left: 45%;
    }
}


/* screen 859 */
@media screen and (max-width:859px) {

    header {
        gap: 38%;
    }

    main {
        padding: 30px 50px 100px 50px;

    }

    .div2 img {
        width: 400px;
    }

    .john p {

        font-size: 28px;
    }

    .div1 {
        display: flex;
        align-items: center;
        gap: 5%;
    }

    .works {
        gap: 9%;

    }

    .work1,
    #church,
    #vedTv,
    #library {
        width: 350px;

    }

    .flexWork {
        flex-direction: column;
        align-items: center;
        gap: 60px;
    }

    .work1 p {
        font-size: 25px;


    }
}


/*screen 834 */
@media screen and (max-width: 834px) {
    header {
        gap: 80%;
    }

    .nav {
        display: none;
    }

    .icon {
        display: block;

    }


    .off-screen-menu {
        background-color: white;
        height: 100vh;
        position: fixed;
        width: 100%;
        z-index: 2;
        padding: 32px 35px;
        display: none;
        top: 0;
        overflow-y: hidden;
        overflow-x: hidden;
    }

    .off-screen-menu div {
        display: flex;
        align-items: center;
        gap: 80%;
        padding-bottom: 10px;
    }



    .off-screen-menu img {
        width: 80px;
        height: 50px;
        object-fit: contain;
    }

    .off-screen-menu p {
        font-family: 'new rocker';
        font-size: 24px;
        font-weight: 500;
        letter-spacing: 0px;
        text-align: left;

    }

    ul {
        margin-top: 5%;
    }

    ul li {
        font-family: Space Grotesk;
        font-size: 23px;
        font-weight: 700;
        line-height: 64px;
        letter-spacing: 0em;
        text-align: left;
        color: #3A3A3A;
        list-style: none;
    }


    .off-screen-menu button {
        /* width: 170px; */
        padding: 12px 64px;
        border-radius: 24px;
        border: 1px solid black;
        gap: 10px;
        background: white;
        font-family: Space Grotesk;
        font-size: 17px;
        font-weight: 600;
        cursor: pointer;
        margin-top: 5%;
    }

    .off-screen-menu button:hover {

        transition-duration: 1s;
        color: white;
        background: gray;
        border: none;
        box-shadow: 1px 2px 2px 2px #098DD3;


    }
}


/* screen 847 */
@media screen and (max-width:847px) {

    .work1,
    #church,
    #vedTv,
    #library {
        width: 300px;

    }

    .works {
        gap: 20%;

    }
}

/* screen 807 */
@media screen and (max-width:807px) {
    header {
        gap: 35%;
    }

    .div2 img {
        width: 380px;
    }

    .work1 p {
        font-size: 20px;
    }

    .works {
        gap: 15%;

    }

    .work1 h2 {
        font-size: 40px;


    }

    #library h2 {

        font-size: 35px;

    }

    #vedTv h2 {
        font-size: 45px;

    }

    .work1,
    #church,
    #vedTv,
    #library {
        height: 58vh;
    }

}


/* screen 814 */
@media screen and (max-width:814px) {
    footer p {
        margin-left: 40%;
    }
}

/* screen 763   */
@media screen and (max-width:763px) {
    main {
        margin-top: 30px;
    }

    .div1 {
        flex-direction: column;
        gap: 50px;
        /* position: relative; */
    }

    /* .div2 {
        width: 470px;
        height: 465px;

    } */

    /* 
    .div2 img {
        width: 600px;
        position: absolute;
        right: 6.5%;
    } */

    #recruiter {
        /* width: 200px; */
        padding-left: 50px;
        padding-right: 50px;
    }

    #help {
        padding-left: 50px;
        padding-right: 50px;
    }



    .works {
        gap: 9%;

    }

    footer {
        gap: 10%;
    }

    footer p {
        margin-left: 25%;
    }
}





/* screen 727 */
@media screen and (max-width:727px) {

    .div2 img {
        right: 2%;
    }

    .work1,
    #church,
    #vedTv,
    #library {
        width: 250px;
    }

    .works {
        gap: 20%;

    }

    footer p {
        margin-left: 20%;
    }

}



/* screen 450 */
@media screen and (max-width:450px) {
    header {
        gap: 270px;
        padding: 25px 35px 25px 35px;
    }

    .john p {
        color: #FAFAFA;
        font-family: Space Grotesk;
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .john h3 {
        color: #3EB489;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }



    main {
        padding: 20px 50px;
        color: #FAFAFA;
        overflow-x: hidden;
        font-family: Space Grotesk;
    }

    .wrap {
        display: none;
    }

    .recruiter {
        display: block;
    }

    .linkedin {
        align-items: center;
    }

    #recruite,
    #help {
        display: flex;
        width: 377px;
        height: 56px;
        padding: 16px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        flex-shrink: 0;
    }

    .div2 img {
        width: 362px;
        height: 301px;
        flex-shrink: 0;
        right: 0%;

    }

    .selected_works h3 {
        font-size: 24px;
    }


    .work1,
    #church,
    #vedTv,
    #library {
        display: flex;
        width: 180px;
        padding-top: 57.6px;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        gap: 76.933px;
    }

    .works {
        gap: 22px;
        margin-right: 10%;
    }

    .flexWork {
        gap: 35px;
        margin-bottom: 15%;
    }


    .work1 h2 {
        font-size: 30px;


    }

    #church h2 {
        font-size: 16px;
    }

    .work1 img {
        width: 115px;
        object-fit: contain;
    }

    #library h2 {

        font-size: 30px;

    }

    #vedTv h2 {
        font-size: 30px;


    }

    #vedTv {
        padding-top: 0px
    }
}