@import url('https://fonts.googleapis.com/css2?family=Roboto&family=New+Rocker&family=Space+Grotesk:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

body {
    overflow-x: hidden;
    background: black;
    width: 100%;
    height: 100%;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 23%;
    padding: 20px;
    background: #437690;
    color: #FAFAFAFA;
    width: 100%;
}

header p {
    font-family: 'new rocker';
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0px;
    text-align: left;

}

nav {
    display: flex;
    gap: 40px;
    font-family: Space Grotesk;
    font-size: 20px;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: left;
}

a {
    text-decoration: none;
    color: #FAFAFAFA;
}

nav div {
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 600;

}

nav div hr {
    width: 86px;
    border: 1px solid white;
}

header button {
    width: 170px;
    padding: 12px 24px;
    border-radius: 24px;
    border: 1px solid black;
    gap: 10px;
    background: white;
    font-family: Space Grotesk;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;

}



/* MAIN */
main {
    padding: 100px 100px;
    color: #FAFAFA;
    font-family: Space Grotesk;
    display: flex;
    flex-direction: column;
    gap: 100px;

}

.worksNav {
    display: flex;
    /* width: 951px; */
    justify-content: center;
    align-items: center;
    gap: 94px;
    border-radius: 0px 0px 24px 24px;
    border-bottom: 0.5px solid #FAFAFA;
    padding-bottom: 20px;
    margin: 0px 110px;
}

.worksNav .app button {
    background: white;
    color: black;
    box-shadow: none;
}

.worksNav .app:hover button {
    background: black;
    color: white;
    box-shadow: #437690 1px 1px 1px 1px;
    transition-duration: 1s;
}

.worksNav button {

    padding: 10px 20px;
    border-radius: 24px;
    background: black;
    font-family: Space Grotesk;
    font-size: 20px;
    color: white;
    cursor: pointer;
    box-shadow: #437690 1px 1px 1px 1px;
    border: none;
}

.worksNav button:hover {
    background: white;
    color: black;
    transition-duration: 1s;
    box-shadow: none;

}


/* second section  */
.section1 {
    display: inline-flex;
    padding: 55px 68.461px 63px 68px;
    flex-direction: column;
    align-items: center;
    gap: 38.857px;


    border-radius: 24px;
    border: 0.5px solid #D9D9D9;
    background: rgba(61, 61, 61, 0.50);
}



.case h1 {
    color: #3EB489;
    font-family: Roboto;
    font-style: normal;
    text-align: center;
    line-height: 46px;
    font-size: 50px;
    font-weight: 700;
}

.iPlayer {
    display: flex;
    height: 512px;
    justify-content: center;
    align-items: center;
    gap: 20%;
}

.iPlayer1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
    font-size: 20px;
}

.iPlayer1 div {
    display: flex;
    align-items: center;
    gap: 16px;
    font-weight: 600;
}

.iPlayer1 div img {
    padding: 15px;
    background: #D9D9D9;
    border-radius: 50px;
}

/* NOVAS */
.novas {
    display: flex;
    align-items: center;
    position: relative;
}

.image2 {
    width: 222.723px;
    height: 455.952px;
    object-fit: contain;
    position: absolute;
    left: 10%;
}

.image1 {
    position: relative;
    right: 30%;
}

.image1 .image3 {
    object-fit: contain;
    width: 187.481px;
    height: 383.805px;
    position: relative;
}




/*section3  */
.section3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    gap: 64px;
    margin: 0px 50px;
    font-size: 20px;

}

.section_three {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    gap: 64px;
    font-size: 20px;
}

.section3_div1 {
    display: flex;
    align-items: flex-start;
    gap: 120px;
}

.section3_div2 {
    display: flex;
    align-items: flex-start;
    gap: 150px;
}

.section3_div3 {
    display: flex;
    align-items: flex-start;
    gap: 130px;

}

.section3_div4 {
    display: flex;
    align-items: flex-start;
    gap: 98px;

}





/* section4 */


.section4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    margin: 0px 50px;
    gap: 150px;
}


.section4_first {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
}

.section4_div1 {
    display: flex;
    font-size: 20px;
    flex-direction: column;
    align-items: center;
    text-align: left;
    gap: 24px;
    /* width: 800px; */
}

.section4_div1 h3 {
    font-size: 25px;
    text-align: left;

}

.section4_div2 {
    display: flex;
    align-items: flex-start;
    /* gap: 20%; */
    margin-bottom: 20%;
}

.section4_div2 h3 {
    color: #FAFAFA;
    font-size: 24px;
    font-style: normal;
    line-height: 36px;
}

.tipsimages1 {
    display: flex;
    align-items: center;

}

.tipsimages1 img {
    width: 222.723px;
    height: 455.952px;
    object-fit: cover;
}

.tipsimages1 .tips1 {
    position: relative;
    right: 100%;
}


.tipsimages1 .tips2 {
    position: absolute;
    left: 25%;
    top: 140rem;
}

.tipsimages2 {
    display: flex;
    align-items: center;
}

.tipsimages2 img {
    width: 222.723px;
    height: 455.952px;
    object-fit: cover;
}

.tipsimages2 .tips4 {
    position: absolute;
    z-index: 1;
    right: 25%;
    top: 140rem;
}


.tipsimages2 .tips3 {
    position: relative;
    left: 100%;
}


/* .section4_div2 */

.tipsimages1 .shelf1 {
    position: relative;
    right: 40%;
}


.tipsimages1 .shelf2 {
    position: absolute;
    left: 35%;
    top: 192rem;
}

.tipsimages2 .shelf4 {
    position: absolute;
    z-index: 1;
    right: 40%;
    top: 195rem;
}


.tipsimages2 .shelf3 {
    position: relative;
    left: 15%;
    z-index: 2;
}














/* section4_second */

.section5_second {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
}

.section5_div1 {
    display: flex;
    font-size: 20px;
    flex-direction: column;
    align-items: center;
    text-align: left;
    gap: 24px;
    /* width: 800px; */
}

.section5_div1 h3 {
    font-size: 25px;
    text-align: left;

}

.section5_div2 {
    display: flex;
    align-items: flex-start;
    /* gap: 20%; */
    margin-bottom: 20%;
}

.section5_div2 h3 {
    color: #FAFAFA;
    font-size: 24px;
    font-style: normal;
    line-height: 36px;
}

.space1 {
    display: flex;
    align-items: flex-start;

}

.space1 h3 {
    padding: 20px;
}

.space1 div {
    display: flex;
    position: relative;
    right: 20%;
}

.space1 img {
    width: 222.723px;
    height: 455.952px;
    object-fit: cover;
}



.space1 .tips2 {
    position: absolute;
    left: 28%;
    top: 258rem;
}

.space2 {
    display: flex;
    align-items: flex-start;
}

.space2 h3 {
    padding: 20px;
}

.space2 img {
    width: 222.723px;
    height: 455.952px;
    object-fit: cover;
}

.space2 .tips4 {
    position: absolute;
    right: 32%;
    top: 258rem;
}


/* .space2 .tips3 {
    position: relative;
    left: 100%;
} */

.space2 div {
    display: flex;
    position: relative;
    right: 0%;
}


/*Div2  */
.space1 .read {
    position: absolute;
    left: 28%;
    top: 310rem;
}

.space2 .read2 {
    position: absolute;
    right: 32%;
    top: 310rem;
}




/* FOOTER */
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 52%;
    padding: 61px 0px;
    background: #437690;
    color: #FAFAFAFA;
    width: 100%;

}

footer button {
    width: 300px;
    padding: 12px 24px;
    border-radius: 24px;
    border: 1px solid black;
    gap: 10px;
    background: white;
    font-family: Space Grotesk;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;

}

footer h1 {
    color: #FAFAFA;
    font-family: Space Grotesk;

    font-style: normal;
    font-weight: 500;
    line-height: normal;
}


.footerDiv1 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 29px;
}

.contact {
    display: flex;
    align-items: center;
    gap: 32px;
}

.contact .x {
    border-radius: 50px;
    background: #3D3D3D80;
    border: 1px solid gray;
    padding: 12px 13px 10px 13px;
}

#x img {

    width: 22px;
    height: 22px;
    object-fit: contain;
}

#x {
    padding: 12px 13px 10px 13px;
}

footer p {
    font-family: 'new rocker';
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0px;
    text-align: left;


}